# Ignore Firebase credentials file
firebaseCred.json

# Ignore system files
.DS_Store

# Ignore Python bytecode
**/__pycache__/
datathon24/
# Ignore virtual environments
venv/
env/

# IDE configurations
.vscode/
.idea/
